<%- include header.ejs %>

  <div class="contact-show-page-controls">
    <a class="delete-contact" href="/contacts/<%= contact.id %>/delete">delete</a>
  </div>

  <h1><%= contact.first_name %>&nbsp;<%= contact.last_name %></h1>

<%- include footer.ejs %>
